header {
    width: 100vw;
    background-color: #333;
    color: rgb(255, 255, 255); 
    text-align: center; 
    padding: 20px 0; /* Adjust the padding as needed */
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(192, 178, 160);
    min-height: 100vh;
    overflow-y: auto;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.header h1 {
font-weight: 700; 
}

.header-shadow{
    width: 100%;
    background-color: rgb(203, 191, 172);
    height: 5px;
}

.rounded-image{
    border-radius: 10%;
}

.logo-container {
    background-color: white;
    width: 600px;
    height:  200px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
}

.scrollable-container {
    width: 500px; /* Adjust the width as needed */
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}


.text-title {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    position: sticky;
    top: 0;
    z-index: 1;
}

.scrollable-text {
    max-height: 200px;
    overflow-y: auto;
    margin-top: 10px;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(192, 178, 160);
}

.image-container {
    position: relative;
    width: 500px; /* Adjust the width as needed */
    height: 250px; /* Adjust the height as needed */
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
    position: absolute;
    top: 0;
    border-radius: 10px;
    left: 0;
    opacity: 0;
    transition: opacity 3s ease-in-out; /* Adjust the transition duration as needed */
}

.image-container img.active {
    opacity: 1;
}

@keyframes fadeInOut {
    0%, 25% {
        opacity: 0;
    }
    25.01%, 50% {
        opacity: 1;
    }
    50.01%, 75% {
        opacity: 0;
    }
    75.01%, 100% {
        opacity: 1;
    }
}

.image-container img {
    animation: fadeInOut 9s linear infinite; /* Adjust the duration as needed */
}

.image-container img:nth-child(1) {
    animation-delay: 0s;
}

.image-container img:nth-child(2) {
    animation-delay: 3s; /* Adjust the delay to match the transition duration */
}

.image-container img:nth-child(3) {
    animation-delay: 6s; /* Adjust the delay to match the transition duration */
}